h1{
  color: red;
  margin-top: 9vh;
  text-align: center;
  font-weight: bold;
}

/* div.book {
text-align: center;
margin-left: 10%;
margin-right: 10%;
margin-bottom: 5%;
} */

img {

height: 200px;
width: auto;
}

#form_login{
  padding-top: 100px;
}

#form_inscription{
  padding-top: 100px;
}

.book{
  min-width: 48%;
  min-height: 200px;
  background-color: lightgray;
  margin : 5px;
  padding: 5px;
}

div.card-header{
  margin-right: 5px;
}
