{% extends "bootstrap/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet"
  href="{{ url_for('static', filename='home.css')}}"/>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
        <div class="navbar-header">
          <button type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">BookListing</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
            <li><a href="/inscription"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
            {%else%}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Se déconnecter</a></li>
            {%endif%}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block content %}
 <div id="main" class="container theme-showcase" role="main">

{% block main %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
{%endblock %}
</div>
{% endblock %}
