{% extends "base.html" %}
{% block main %}
<h1>Modifier l'auteur : {{ author.name }}</h1>
<form role="form" method="POST" action="{{ url_for('save_author') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.name.label }} {{ form.name(size=50) }}
  </div>
  <input class="btn btn-default" type="submit" value="Enregistrer">
</form>
{% endblock %}
