{% extends 'base.html' %}
{% block main %}
<h1>Les 100 meilleurs livres</h1>

  <div class="container">
    <div class="row">

  {% for x in books %}

    <div class="book card col-md-4 ">
     <div class="card-header border-0 pull-left">
        <img src="{{url_for('static', filename='images/'+x.img)}}" alt="couverture de {{ x.title }}">
     </div>
     <div class="card-block px-2">
         <h2>{{ x.title }}</h2>
         <h3><a href='/edit/author/{{ x.author_id }}'>{{ x.author }}</a></h3>
         <a href="{{ x.url }}" class="btn btn-primary">Acheter</a>
     </div>
     <div class="w-100"></div>
    </div>

  {% endfor %}
  </div>
</div>
{% endblock %}
